/* Veggies Page */

#chart {
  margin: 50px 0 50px 150px;
  background: #f8f6eb;
  padding: 0 15px;
  width: 80%;

  @include media-breakpoint-down(lg) {
    margin: 50px 0 50px 100px;
    padding: 15px;
  }

  @include media-breakpoint-down(md) {
    margin: 50px 0 50px 130px;
    padding: 15px;
  }
}

#chart ul {
  width: 100%;
  padding: 15px 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

#chart ul li {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $forest-green;

  @include media-breakpoint-down(sm) {
    transform: rotate(-90deg);
  }
}

.veggie {
  display: flex;
  width: auto;
  height: 34px;
  margin: 0;
  padding-top: 3px;
  border-bottom: solid 1px #dbd5b2;
  position: relative;
  background: repeating-linear-gradient(to right, #f8f6eb, #f8f6eb 9.75%, rgba(255, 255, 255, 0.75) 9.75%, rgba(255, 255, 255, 0.75) 9.95%);
}

.veggie h5 {
  margin: 0 0 0 -205px;
  line-height: 15px;
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  width: 177px;
  align-self: center;

  @include media-breakpoint-down(md) {
    width: 120px;
    margin: 0 0 0 -150px;
    font-size: 13px;
  }
}

.veggie span {
  width: 100%;
  height: 12px;
  background: #acd74e;
  border-radius: 8px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 10px;
}

.veggie span.marketOnly {
  background-color: #f5a623;
}

.veggie p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

strong.marketOnly {
  color: #f5a623;
  list-style-type: circle;
  position: relative;
  display: inline-block;
}

strong.marketOnly ::before {
  content: "";
  background: #f5a623;
  display: block;
  height: 12px;
  width: 18px;
  border-radius: 8px;
  position: absolute;
  left: -25px;
  top: 4px;
}

span.juneStart {
  max-width: 100%;
  left: 0;
}

span.june15Start {
  max-width: 95%;
  left: 5%;
}

span.julyStart {
  max-width: 90%;
  left: 10%;
}

span.july15Start {
  max-width: 85%;
  left: 15%;
}

span.augustStart {
  max-width: 80%;
  left: 20%;
}

span.august15Start {
  max-width: 75%;
  left: 25%;
}

span.septemberStart {
  max-width: 70%;
  left: 30%;
}

span.september15Start {
  max-width: 65%;
  left: 35%;
}

span.octoberStart {
  max-width: 60%;
  left: 40%;
}

span.october15Start {
  max-width: 55%;
  left: 45%;
}

span.half {
  width: 5%;
}

span.one {
  width: 10%;
}

span.onehalf {
  width: 15%;
}

span.two {
  width: 20%;
}

span.twohalf {
  width: 25%;
}

span.three {
  width: 30%;
}

span.threehalf {
  width: 35%;
}

span.four {
  width: 40%;
}

span.fourhalf {
  width: 45%;
}

span.five {
  width: 50%;
}

span.fivehalf {
  width: 55%;
}

span.six {
  width: 60%;
}

span.sixhalf {
  width: 65%;
}

span.seven {
  width: 70%;
}

span.sevenhalf {
  width: 75%;
}

span.eight {
  width: 80%;
}

span.eighthalf {
  width: 85%;
}

span.nine {
  width: 90%;
}

span.ninehalf {
  width: 95%;
}

span.ten {
  width: 100%;
}
