/* Veggies Page */
section.veggiechart {
  margin: 45px 0;

  h2 {
    text-align: center;
  }

  .breakout {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

#chart {
  margin: 50px 0 50px 150px;
  background: #f8f6eb;
  padding: 15px;
  width: 80%;

  @include media-breakpoint-down(lg) {
    margin: 50px 0 50px 100px;
    padding: 15px;
  }

  @include media-breakpoint-down(md) {
    margin: 50px 0 50px 130px;
    padding: 15px;
  }
}

#chart ul {
  width: 100%;
  padding: 15px 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

#chart ul li,
table thead th {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: $font-family-sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $forest-green;
}

.veggies table thead th {
  @include media-breakpoint-down(sm) {
    transform: rotate(-90deg);
  }
}

.veggie {
  display: flex;
  width: auto;
  height: 34px;
  margin: 0;
  padding-top: 3px;
  border-bottom: solid 1px #dbd5b2;
  position: relative;
  background: repeating-linear-gradient(to right, #f8f6eb, #f8f6eb 9.75%, rgba(255, 255, 255, 0.75) 9.75%, rgba(255, 255, 255, 0.75) 9.95%);
}

.veggie h5 {
  margin: 0 0 0 -205px;
  line-height: 15px;
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  width: 177px;
  align-self: center;

  @include media-breakpoint-down(md) {
    width: 120px;
    margin: 0 0 0 -150px;
    font-size: 13px;
  }
}

.veggie span {
  width: 100%;
  height: 12px;
  background: #acd74e;
  border-radius: 8px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 10px;
}

.veggie span.marketOnly {
  background-color: #f5a623;
}

.veggie p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

strong.marketOnly {
  color: #f5a623;
  list-style-type: circle;
  position: relative;
  display: inline-block;
}

strong.marketOnly ::before {
  content: "";
  background: #f5a623;
  display: block;
  height: 12px;
  width: 18px;
  border-radius: 8px;
  position: absolute;
  left: -25px;
  top: 4px;
}

span.june {
  max-width: 100%;
  left: 0;
}

span.mid-june {
  max-width: 95%;
  left: 5%;
}

span.july {
  max-width: 90%;
  left: 10%;
}

span.mid-july {
  max-width: 85%;
  left: 15%;
}

span.august {
  max-width: 80%;
  left: 20%;
}

span.mid-august {
  max-width: 75%;
  left: 25%;
}

span.september {
  max-width: 70%;
  left: 30%;
}

span.mid-september {
  max-width: 65%;
  left: 35%;
}

span.october {
  max-width: 60%;
  left: 40%;
}

span.mid-october {
  max-width: 55%;
  left: 45%;
}

span.half {
  width: 5%;
}

span.one {
  width: 10%;
}

span.onehalf {
  width: 15%;
}

span.two {
  width: 20%;
}

span.twohalf {
  width: 25%;
}

span.three {
  width: 30%;
}

span.threehalf {
  width: 35%;
}

span.four {
  width: 40%;
}

span.fourhalf {
  width: 45%;
}

span.five {
  width: 50%;
}

span.fivehalf {
  width: 55%;
}

span.six {
  width: 60%;
}

span.sixhalf {
  width: 65%;
}

span.seven {
  width: 70%;
}

span.sevenhalf {
  width: 75%;
}

span.eight {
  width: 80%;
}

span.eighthalf {
  width: 85%;
}

span.nine {
  width: 90%;
}

span.ninehalf {
  width: 95%;
}

span.ten {
  width: 100%;
}

// CSA Expectations chart
section.csachart {
  background: #f8f8f8;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 90px 0;

  h2,
  p {
    text-align: center;
  }

  p {
    margin-top: 30px;
  }

  table {
    margin: 45px 0;

    th {
      padding: 8px 0;
      transform: none;

      &:first-of-type {
        visibility: hidden;
      }
    }

    td {
      color: $dark-green;
      padding: 8px 0;
      text-align: center;
      border: solid 3px #fff;

      &:first-of-type {
        text-align: right;
        border: none;
        padding-right: 15px;
        width: 150px;
      }

      h5 {
        color: $dark-green;
      }
    }
  }
}
