table,
tr,
td,
th {
  font-size: 18px;
}

.table th,
.table td {
  padding: 0.5rem;
}

#week-select select {
  float: right;
  margin-bottom: -30px;
  margin-top: 25px;
  z-index: 9999;
  position: relative;
}

section.week table {
  margin-bottom: 60px;
}

.count_box {
  position: fixed;
  bottom: 45px;
  right: 45px;
  background: #fff;
  padding: 25px;
  box-shadow: 3px 6px 38px #dadada;
  z-index: 9999;

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }

  @include media-breakpoint-down(sm) {
    width: 100vw;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;

    h4 {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-around;

      li {
        display: flex;
        flex-direction: column;
        font-size: 2rem;

        strong {
          margin: 0;
          padding: 0;
          color: #7db84b;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 800;
          top: 0;
        }
      }
    }
  }
}

.count_box h4,
.count_box li {
  font-size: 19px;
}

.count_box h4 {
  margin: 0 0 1rem 0;
  padding: 0;
  color: $bright-green;
}

.count_box ul li {
  margin: 0;
  padding: 0;
}

table.footable > tbody > tr > td,
table.footable > thead > tr > th,
table.footable > tbody > tr > th,
table.footable > tfoot > tr > td,
.footable.table th {
  display: table-cell;
  text-align: center;
}

table.footable > tbody > tr > td:first-child {
  text-align: left;
}

.lists table.footable thead tr th,
.lists-single table.footable thead tr th {
  @include media-breakpoint-down(sm) {
    transform: rotate(0deg) !important;
  }
}

@media print {
  .banner .nav-primary,
  .subtitle,
  .sub-nav-selector,
  footer.content-info,
  section#week-select,
  form {
    display: none !important;
  }

  .banner.sm,
  .banner {
    height: 150px !important;
    min-height: 150px !important;
    background: none !important;
    color: #333;
  }

  .count_box {
    position: relative !important;
  }

  td.name::before {
    content: "";
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: solid 1px #333;
    margin-right: 10px;
  }

  table {
    break-inside: avoid;
  }

  table.footable > tbody > tr > td {
    font-size: 22px;

    &.note {
      font-size: 15px !important;
      line-height: 18px !important;
    }
  }

  .page-template-lists-single table {
    break-inside: auto;
    break-before: avoid;
  }

  h1,
  h2,
  h3 {
    break-after: avoid-page;
  }

  .banner h1 {
    color: #333 !important;
  }

  .fooicon {
    display: none !important;
  }

  .lists-printall header.banner {
    display: none;
  }

  section {
    margin-top: 0;
  }
}

table td.name span {
  font-size: 13px;
  font-weight: 700;
  display: inline-flex;
  opacity: 0.4;
  margin-right: 1.25rem;
}

section#week-select.row {
  margin-bottom: -9rem;

  @include media-breakpoint-down(sm) {
    margin: 0;
  }

  form select {
    float: none;
  }
}

.totalsline {
  display: flex;
  width: 100%;
  border: solid 2px #333;
  padding: 1rem;
  page-break-after: always !important;

  * {
    margin: 0;
    color: #333;
    font-weight: bold;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin-right: 1rem;
    }
  }
}

.bagsize {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 800;
  background: #c5c3c3;
  padding: 0.15rem 0.5rem 0 0.5rem;
  margin-left: 0.5rem;
  color: #fff;
  border-radius: 10px;
  display: inline-flex;
}

.note {
  font-size: 0.95rem;
  line-height: 1.15rem !important;
}

th.bigger_col:nth-last-child(4) {
  border-radius: 0 7px 0 0;
}

th.bigger_col:nth-last-child(6),
tfoot td.bigger_col:nth-last-child(6),
tbody td.bigger_col:nth-last-child(6) {
  border-right: solid 1px #ddd;
}

th.bigger_col:nth-last-child(9) {
  border-radius: 7px 0 0 0;
}

tfoot td.bigger_col:nth-last-child(4) {
  border-radius: 0 0 7px 0;
}

tfoot td.bigger_col:nth-last-child(9) {
  border-radius: 0 0 0 7px;
}

.bigger_col,
.footable.table th.bigger_col {
  background: #f7f7f7;
  color: #a7a7a7;
  text-align: center;
}
