table,
tr,
td,
th {
  font-size: 18px;
}

.table th,
.table td {
  padding: 0.5rem;
}

#week-select select {
  float: right;
  margin-bottom: -30px;
  margin-top: 25px;
  z-index: 9999;
  position: relative;
}

section.week table {
  margin-bottom: 60px;
}

.count_box {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  // height: 45px;
  // background: #104109;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // margin: 0;
  position: fixed;
  bottom: 45px;
  right: 45px;
  background: #fff;
  padding: 25px;
  box-shadow: 3px 6px 38px #dadada;
  z-index: 9999;

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
}

.count_box h4,
.count_box li {
  font-size: 19px;
}

.count_box h4 {
  margin: 0 0 1rem 0;
  padding: 0;
  color: $bright-green;
}

.count_box ul li {
  margin: 0;
  padding: 0;
}

table.footable > tbody > tr > td,
table.footable > tbody > tr > th {
  display: table-cell;
}

#component_1562141833,
#component_1452447170 {
  display: none !important;
}

@media print {
  .banner .nav-primary,
  .subtitle,
  .sub-nav-selector,
  footer.content-info,
  section#week-select,
  form {
    display: none !important;
  }

  .banner.sm,
  .banner {
    height: 150px !important;
    min-height: 150px !important;
    background: none !important;
    color: #333;
  }

  .count_box {
    position: relative !important;
  }

  td.name::before {
    content: "";
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: solid 1px #333;
    margin-right: 10px;
  }

  table {
    break-inside: avoid;
  }

  table.footable > tbody > tr > td {
    font-size: 22px;
  }

  .page-template-lists-single table {
    break-inside: auto;
    break-before: avoid;
  }

  h1,
  h2,
  h3 {
    break-after: avoid-page;
  }

  .banner h1 {
    color: #333 !important;
  }

  .fooicon {
    display: none !important;
  }
}
