.modal.fullmodal {
  .modal-content {
    border: none;
  }

  .modal-dialog {
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    bottom: 0;

    @include media-breakpoint-up(sm) {
      position: absolute;
    }
  }

  .close {
    font-size: 50px;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    position: absolute;
    color: #416f1aff;
  }
}
