/* stylelint-disable no-descending-specificity */
.banner .nav a {
  @extend .nav-link;
}

.banner .nav li {
  @extend .nav-item;
}

.banner {
  height: 48vh;
  min-height: 600px;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  @include slowfade();

  @include media-breakpoint-down(sm) {
    .lists & {
      min-height: unset;
      height: auto;
    }
  }

  &.sm {
    height: 450px;
    min-height: 400px;
    background-color: $forest-green;
  }

  .nav-primary {
    background-color: $dark-green;
    position: relative;
    display: flex !important;
    justify-content: space-between;

    .logo {
      display: flex;
      width: 24%;
      font-size: 29px;
      font-family: $font-family-serif;
      color: #fff;
      background: #66a134;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      max-width: 350px;
      margin-bottom: -0.5rem;
      padding-bottom: 0.25rem;

      span {
        margin-left: 0.5rem;
      }

      &:hover {
        background: #6fa93e;
        text-decoration: none;

        @include slowfade();
      }

      @media (max-width: 1350px) {
        width: 30%;
      }

      @media (max-width: 1175px) {
        width: 34%;
      }

      @media (max-width: 1100px) {
        width: 26%;
        font-size: 23px;
      }

      @media (max-width: 1000px) {
        font-size: 20px;
      }

      @media (max-width: 900px) {
        flex-flow: column;
        line-height: 1;
        width: 18%;

        span {
          font-size: 24px;
          margin: 0;
        }
      }

      @include slowfade();
    }

    ul.nav {
      width: 76%;

      @media (max-width: 900px) {
        width: 81%;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    li {
      display: flex;
      align-items: center;
      position: relative;

      &:hover > ul,
      &:focus-within > ul,
      ul:hover,
      li.active ul {
        visibility: visible;
        opacity: 1;
        display: flex;
        padding: 2.25rem 1.5rem 2rem 1.5rem;
        justify-content: space-evenly;
        height: 4.5rem;

        @include slowfade();
      }

      &.menu-item-has-children a {
        background: url("../images/menu-arrow-white.svg") right center no-repeat;
        padding-right: 1rem;
        margin-right: 0.75rem;
      }

      &.menu-item-has-children.active a {
        background: url("../images/menu-arrow.svg") right center no-repeat;
      }

      &.menu-item-has-children ul li a,
      &.menu-item-has-children.active ul li a {
        background: none;
        margin-right: 0;
      }

      a {
        color: $white;

        @include fluid-type($min_width, $max_width, $min_font, $max_font);

        font-weight: 800;
        text-transform: uppercase;
        padding: 30px 30px;
        padding-right: 1rem;
        margin-bottom: -5px;

        @include slowfade();

        &:hover {
          color: #416f1a;

          @include slowfade();
        }

        @media (max-width: 1100px) {
          font-size: 18px;
        }

        @include media-breakpoint-down(md) {
          padding: 1.25rem 1rem;
          font-size: 17px;
        }

        @media (max-width: 780px) {
          padding: 1rem;
          font-size: 16px;
        }
      }

      &.active a {
        color: #416f1a;

        &:hover {
          color: #fff;
        }
      }

      &.newsletter {
        margin-left: auto;
      }

      &.menu-cart {
        background: #6fa93e;
        padding: 0;

        @include slowfade();

        a {
          background: url("../images/cart.svg") center center no-repeat;
          padding: 1.75rem 2.25rem;
          text-indent: -99999px;

          @include media-breakpoint-down(md) {
            padding: 1.25rem 2.25rem;
          }
        }

        &:hover {
          background: #66a134;

          @include slowfade();
        }
      }
    }

    @include media-breakpoint-down(sm) {
      a {
        padding: 30px 10px;
      }
    }

    .current_page_item a {
      color: $forest-green;
    }

    .right {
      &.push {
        margin-left: auto;
      }

      a {
        font-size: 14px;
        color: $light-green;
      }
    }

    ul.sub-menu {
      visibility: hidden;
      opacity: 0;
      height: 0;
      background-color: #90cf5b;
      display: flex;
      list-style-type: none;
      padding: 0;
      position: absolute;
      top: 92%;
      border-radius: 4rem;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      box-shadow: 0 -3px 20px -20px rgba(0, 0, 0, 0.5);
      z-index: 10;

      @include slowfade();

      li {
        flex-direction: row;
        position: static;

        a {
          color: #fff;
          font-size: 16px;
          padding: 15px 30px;
          text-transform: none;

          @include slowfade();

          &:hover {
            color: $forest-green;

            @include slowfade();
          }
        }

        &.active a {
          color: $forest-green;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        justify-content: space-evenly;

        li a {
          padding: 15px 0;
          line-height: 1;
          text-align: center;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        border: 10px solid transparent;
        border-bottom-color: #90cf5b;
      }
    }
  }

  img {
    width: 180px;
    align-self: center;
    margin: auto 0 0 0;
  }

  h1 {
    margin-top: auto;
    align-self: center;
    color: $white;
    font-size: 66px;
    line-height: 58px;
    text-align: center;

    span {
      font-size: 30px;
    }
  }

  time {
    font-family: $font-family-serif;
    color: $white;
    font-size: 2rem;
    line-height: 58px;
    text-align: center;

    &::before,
    &::after {
      content: "-";
      margin: 0 0.5rem;
    }
  }

  .subtitle {
    text-align: center;
    margin-bottom: auto;

    div {
      margin-bottom: -30px;

      p {
        color: $white;
        font-size: 22px;
        margin-top: 35px;
      }
    }

    .sub-nav-selector {
      padding: 3rem 0;

      @include media-breakpoint-down(sm) {
        select {
          max-width: 60%;
        }
      }
    }
  }
}

.woocommerce-page .banner {
  height: 30vh;
  min-height: 375px;
}

.home .banner h1 {
  margin-top: initial;
  font-size: 46px;
  text-transform: uppercase;
  margin-bottom: auto;
}

.cbp-af-header {
  display: flex;
  justify-content: center;
  position: relative;
  top: -16px;
  z-index: 2;
}

//Hamburger
.hamburger {
  position: absolute;
  right: 0;
  z-index: 2;
}

//Mobile Nav
.nav-mobile {
  background: $bright-green;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;

  ul.nav {
    display: flex;
    flex-direction: column;
    margin: 45px 0 0 45px;

    li.menu-item {
      padding: 15px;
      margin: 0;

      a {
        @extend h2;

        font-size: 26px;
        color: $white;
        margin: 0;
      }

      ul {
        padding: 0;
        list-style: 0;
        margin: 0 0 15px 45px;

        li {
          padding: 0;

          a {
            font-size: 18px;
            margin: 0;
          }
        }
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
