/* stylelint-disable no-descending-specificity */

// Blog Pages
.blog {
  .wrap {
    padding-top: 3rem;
    padding-bottom: 10rem;

    section {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  h2 {
    margin: 0;

    a {
      font-size: 2.5rem;
    }
  }

  time {
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;
    color: #888;
    padding-bottom: 1rem;
    border-bottom: dotted 4px #dedede;
  }

  .entry-summary a {
    display: inline-flex;
    width: auto;
    margin: 1rem 100% 0 0;
    background-color: #f3f3f3;
    color: #999;
    font-size: 1.15rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
  }
}

//Single Posts
.single-post {
  .wrap {
    padding-top: 3rem;
    padding-bottom: 10rem;

    article {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}

// CSA Landing Page
.season_details {
  background: $light_grey;

  @include fullwidth();

  top: -40px;
  margin: 0;
  display: flex;
  padding-top: 40px;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;

  h5 {
    padding: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;

    span {
      font-size: 24px;
      font-weight: 500;
      color: $dark-green;
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 70px;

    h5 {
      padding: 5px;
      margin: 10px;
      text-align: center;
    }
  }
}

.intro {
  margin-top: 50px;

  h2 {
    text-align: center;
  }
}

#map {
  height: 680px;
  position: relative;
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);

  .partners-description {
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 4%;
    height: 84%;
    background: $white;
    padding: 45px;
    overflow: scroll;
  }

  .partners-description h3 {
    margin-bottom: 45px;
    font-size: inherit;
  }
}

.side-nav {
  color: $grey;
  border-top: solid 3px #aaa;
  padding-top: 35px;
  display: flex;
  flex-direction: column;

  h4 {
    color: #8b8b8b;
  }

  button {
    font-size: 20px;
    color: $grey;
    text-align: left;
    line-height: 26px;
    padding: 0;
    margin: 20px 0 0 0;

    &:focus,
    &:hover {
      color: $dark-orange;
      text-decoration: none;
    }
  }
}

.location-cards {
  h5 {
    margin: 0 0 15px 40px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    height: 775px;

    li {
      margin: 0 3% 15px 0;
      display: grid;
      width: 46%;

      a {
        @extend .ghost;
      }
    }

    @include media-breakpoint-down(md) {
      height: auto;

      li {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}

.sizes {
  justify-content: center;
  text-align: center;

  .ghost {
    justify-content: space-around;
    display: flex;
    flex-flow: column;
  }

  h2 {
    margin-bottom: 45px;
  }

  h3 {
    font-family: $font-family-serif;
    font-size: 36px;
    color: #555;
    margin: 30px 0;
  }

  h4 {
    color: $bright-green;
    font-family: $font-family-sans-serif;
    font-size: 23px;
    line-height: 22px;
  }

  ul {
    border-top: solid 3px #f2f2f2;
    list-style: none;
    margin: 25px 0;
    padding: 25px 0 0 0;
    color: #8b8b8b;

    li {
      line-height: 22px;
    }

    li::after {
      display: flex;
      content: "";
      border-bottom: solid 3px #f2f2f2;
      width: 30px;
      margin: 15px auto;
    }

    li:nth-last-child(1)::after {
      display: none;
    }
  }

  .weekly {
    width: 100%;
    margin-top: 30px;
    align-items: center;

    a.row {
      align-items: center;
      padding: 15px 0;

      &:hover {
        text-decoration: none;
        opacity: 0.7;
        transition: all 0.4s fade;
      }
    }

    h3 {
      font-size: 28px;
      width: 35%;
      margin: 0;
    }

    p {
      width: 65%;
      font-size: 19px;
      line-height: 23px;
      margin: 0;
      text-align: left;

      span {
        color: $dark-green;
        text-decoration: underline;
      }
    }
  }

  .season_expectations {
    margin: 45px 0;
    padding: 45px;
    background: $light_grey;

    h4 {
      color: #4b4b4b;
      font-family: $font-family-serif;
    }
  }

  .pricing {
    div {
      div {
        background-color: $light_grey;
        padding: 30px 10px;
        // margin: 30px;
      }

      h5 {
        color: $dark-orange;
      }

      p {
        flex-direction: column;
        display: flex;
        font-size: 17px;
        color: #b3b3b3;
        margin-bottom: 13px;

        span {
          font-family: $font-family-serif;
          color: #555;
          font-size: 52px;
          line-height: 52px;
          width: 100%;
          margin-bottom: 5px;
        }
      }

      a {
        background: #74af43;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.07);
        font-size: 17px;
        color: $white;
        text-align: center;
        padding: 8px 0;
        border-radius: 2px;
        display: inline-flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

.home .ghost {
  width: 100%;
}

.photos {
  @include fullwidth();

  padding: 0 45px;
  margin-bottom: 120px;

  img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

div.faq {
  div.accordion {
    margin-bottom: 90px;

    h3 {
      margin: 35px 0 10px 0;

      button.faq {
        color: $dark-orange;
        font-size: 24px;
        padding: 0;
        text-align: left;
      }
    }

    div.collapse {
      margin-bottom: 45px;
    }
  }
}

.woocommerce-product-gallery img,
.size-woocommerce_thumbnail,
.woocommerce-placeholder {
  margin: 0 !important;
}

.woocommerce .woocommerce-breadcrumb {
  display: none;
}

.woocommerce-product-gallery {
  img {
    padding: 8px;
  }
}

.single-product .product .single_add_to_cart_button.button {
  background-color: $bright-green;
  color: $white;

  &:hover {
    background-color: $dark-green;
    transition: all 0.4s fade;
  }
}

.woocommerce .product .add_to_cart_button.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: $bright-green;
  color: $white;

  &:hover {
    background-color: $dark-green;
  }
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
  background: $bright-green;
}

.woocommerce div.product form.cart div.quantity {
  margin: 0 23px 0 0;
}

.woocommerce .quantity .qty {
  height: 48px;
}

.woocommerce .product_meta {
  display: none;
}

.FYI {
  border: solid 6px #74af43;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;

  h2 {
    font-size: 1.6rem;
  }

  span {
    font-size: 0.875rem;
    text-decoration: underline;
    color: #74af43;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  a:hover {
    text-decoration: none;
  }
}

.woocommerce a.remove {
  line-height: 1.25em;
}

.woocommerce-checkout #payment ul.payment_methods li img.stripe-icon,
#add_payment_method #payment ul.payment_methods li img.stripe-icon {
  height: 40px;
  margin-left: 5px;
}

.woocommerce form .form-row.automatewoo-optin {
  width: 100%;
}

//style the weekly product differently. Full width, no images, etc.
// images are removed via conditional in template partials.
.postid-59432 div#product-59432.product div.summary {
  width: 100%;
}

.postid-59432 .woocommerce-product-details__short-description {
  border-bottom: solid 3px $light_grey;
  padding: 45px 0;
  margin-bottom: 45px;
}

.product-type-composite div.component {
  background: $light_grey;
  border-radius: 4px;
  margin-bottom: 45px;
  padding: 30px;
}

.postid-59432 .component h2 {
  @extend h2;

  font-size: 28px;
  margin-bottom: 20px;
}

//begin styles from old site. @TODO improve this entire page. make with flex or grid.
.component .component_options {
  width: 50%;
  overflow: hidden;
}

div.component_options .component_options_select_wrapper,
table.variations td.value {
  position: relative;
}

p.component_section_title {
  width: 30%;
  float: left;
  margin-bottom: 15px !important;

  @extend h3;

  color: #4b4b4b;
}

.component.options-style-dropdowns .component_options_select_wrapper {
  margin-left: 0 !important;
}

.component .component_options,
.component .component_content {
  padding-left: 0 !important;
}

.composite_form:not(.paged) .component:not(.first) .component_title_wrapper,
.composite_form:not(.paged) .composite_wrap {
  padding: 0 !important;
}

.clear_component_options_wrapper {
  display: none !important;
}

.woocommerce table,
.woocommerce table td {
  border: none;
  width: auto;
}

.woocommerce table.variations {
  float: left;
  width: 100%;
  margin: 0;
}

.woocommerce table td {
  padding: 0 10px;
  margin: 0;
}

.woocommerce .product_cat-weekly table td.label {
  width: 30%;

  @extend h3;

  color: #4b4b4b;
  font-weight: 500 !important;
}

.woocommerce table td.value {
  text-align: left;
  width: auto;
}

.woocommerce table td.value select#size {
  margin-bottom: 0;
}

.component .woocommerce-variation-price {
  position: absolute !important;
  top: -100px;
  right: 0;
}

.single_variation span.price .amount {
  float: right;
  text-align: right;
  margin: 20px 0;
}

.postid-34475 span.price .amount,
.postid-59432 span.price .amount {
  font-size: 1.4rem;
}

.woocommerce select {
  -webkit-appearance: none !important;
  height: 38px;
  line-height: 38px;
  border: solid 2px #ddd;
  color: #888;
  border-radius: 3px;
  padding: 0 5px 0 10px;
  position: relative;
  width: 100%;
}

div.component_options .component_options_select_wrapper::after,
table.variations td.value::after {
  border-style: solid;
  border-width: 0.11em 0.11em 0 0;
  content: "";
  display: inline-block;
  width: 0.38em;
  height: 0.38em;
  position: absolute;
  top: 13px;
  right: 15px;
  transform: rotate(135deg);
  vertical-align: top;
}

table.variations td.value::after {
  right: 25px;
}

.component_section_title.clear_component_options_wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

div#composite_data_59432 {
  position: fixed;
  bottom: 45px;
  right: 45px;
  background: #fff;
  padding: 25px;
  box-shadow: 3px 6px 38px #dadada;
}

// Checkout
.woocommerce-input-wrapper {
  width: 100%;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce form .form-row select {
  border: solid 2px #e9e9e9;
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.02);
  padding: 8px;

  &:focus {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.09);
  }
}

.woocommerce form .form-row {
  margin: 0 0 10px 0;
}

.woocommerce form .form-row label {
  @extend h5;

  line-height: 1.2;
  margin-top: 20px;
}

.wc-gateway-ppec-cancel {
  width: 100%;
  margin: 15px 0 0 0;
}

//My Account
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: 48%;
}
/* stylelint-enable no-descending-specificity */
