body.preservation {
  .nav-primary .sub-menu {
    display: none;
  }

  .banner {
    min-height: 0;
  }

  .preservation-content {
    margin-top: 1rem;

    ul.nav {
      background: #fff;
      padding: 2rem 0;

      li {
        margin: 0;
        width: 24%;

        button {
          font-family: $font-family-serif;
          font-size: 1.45rem;
          color: #7a7a7a;
          padding: 1.2rem 1.75rem;
          box-shadow: 0 1px 11px -2px rgba(0, 0, 0, 0.11);
          border-radius: 2px;
          width: 94%;
          height: 100%;
          transition: all 0.4s ease-in-out;

          &.pickling-fermenting {
            font-size: 1.25rem;
            line-height: 1;
          }

          &.active {
            background-color: $dark-green;
            color: #fff;
            transition: all 0.4s ease-in-out;

            &:hover {
              background-color: #68a237;
              transition: all 0.3s ease-in-out;
            }
          }

          &:focus {
            border: none;
            outline: 0;
          }

          &:hover {
            background-color: #f2f2f2;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    .veggie_select {
      border-top: solid 3px #f2f2f2;
      display: flex;
      justify-content: center;
      width: 90%;
      margin-top: 1.5rem;

      .dropdown-toggle {
        margin-top: -1.5rem;
        background: #fff;
        font-weight: 700;
        font-size: 1.025rem;
        color: #7a7a7a;
        border: solid 3px #f2f2f2;
        border-radius: 2rem;
        display: flex;
        position: relative;
        padding: 0.25rem 1rem 0.25rem 1.5rem;

        &::after {
          margin: auto 0 auto 3rem;
        }

        &::before {
          content: "";
          width: calc(100% + 46px);
          border: solid 20px #fff;
          position: absolute;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 116%;
          margin: 0;
          left: -23px;
          border-bottom: none;
          border-top: none;
        }

        &:focus {
          box-shadow: none;
          transition: all 0.25s ease-in-out;
          color: $forest-green;
        }
      }
    }

    .tab-pane {
      section {
        margin: 3rem 0;
      }

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 18px;

        strong {
          color: #707070;
          font-size: 20px;
        }
      }
    }
  }

  .related_veggies {
    border-top: dotted 4px #dcdcdc;
    padding-top: 4.25rem;
    padding-bottom: 6rem;
    text-align: center;

    h4 {
      background: #fff;
      position: relative;
      margin: -7rem auto 0 auto;
      text-align: center;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 800;
      text-transform: uppercase;
      color: #555;
      letter-spacing: 0.06rem;
      width: 67%;
      box-shadow: 0 0 13px -9px;
    }
  }
}

.single-preservation {
  .back-button {
    color: #fff;
    padding: 0.75rem 1.5rem 0.65rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    margin: -0 auto 0 auto;
    position: relative;
    top: -4rem;
    background: url("../images/arrow-left.svg") #7db84b 1rem center no-repeat;
  }

  .intro * {
    font-size: 26px;
    font-weight: 200;
    color: #707070;
    text-align: center;
    line-height: 1.25;
    margin-top: 1rem;
  }

  h4.sidebar-title {
    font-size: 1rem;
    font-weight: 600;
    color: #707070;
    padding-bottom: 0.5rem;
    border-bottom: solid 2px #707070;
    margin: 0 auto 1rem 0;
  }

  .sidebar {
    margin-bottom: 3rem;

    a {
      font-size: 1.25rem;
      padding: 0.25rem 0 0.25rem 1.25rem;
      background: url("../images/arrow.svg") left center no-repeat;
    }
  }

  .preservation-block {
    padding: 2rem 3rem 2rem 6.5rem;
    background: #fff;
    box-shadow: 0 0 35px -2px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    margin-bottom: 2rem;
    position: relative;

    &.empty {
      box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.02);
    }

    .title {
      font-size: 32px;

      &:hover {
        text-decoration: none;
      }
    }

    .collapse-indicator {
      font-size: 54px;
      font-weight: 600;
      position: absolute;
      left: 2.5rem;
      top: 0.75rem;
      margin: auto;
      color: #dcdcdc;

      &:hover {
        text-decoration: none;
        color: #c2c2c2;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
