body.veggies {
  .main {
    padding-bottom: 45px;
  }

  .card {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 1px;
    border: none;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 30px;
    opacity: 1;

    @include slowfade(1);

    .veggie-img {
      height: 20rem;
      overflow: hidden;
      display: flex;
      flex-flow: column-reverse;

      @include media-breakpoint-down(sm) {
        height: auto;
      }

      img {
        margin: 0 auto;
      }
    }

    .card-body {
      border-top: solid 3px #f2f2f2;
      margin: 20px 30px 0 30px;

      h3 {
        font-family: $font-family-serif;
        font-size: 36px;
        color: #555;
      }

      h4 {
        font-size: 23px;
        color: $dark-green;
        margin: 0;
      }
    }

    &:hover {
      text-decoration: none;
      opacity: 0.9;
      box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.14);
    }
  }

  .modal {
    .intro {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 56px;
        font-family: $font-family-serif;
        color: #555;
      }

      h4 {
        color: #8eb56d;
        font-size: 19px;
        padding: 20px 15px 15px 15px;
        border-bottom: solid 3px #f2f2f2;
        text-transform: uppercase;
        font-weight: 700;
        width: auto;
        display: inline-flex;
      }

      img {
        max-height: 400px;
        width: auto;
      }
    }

    .modal-body {
      padding: 0;
    }

    .details {
      background: #8eb56d;
      padding: 4rem;

      p {
        color: #fff;
        line-height: 24px;
        margin-bottom: 1.5rem;
      }

      h4 {
        font-family: $font-family-serif;
        font-size: 28px;
        color: #555;
        margin-bottom: 1.5rem;
      }

      h5 {
        text-transform: none;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: normal;
        color: #416f1a;
        margin-bottom: 0.5rem;
      }

      hr {
        border: solid 3px #a5c887;
        border-width: 0 0 3px 0;
        margin: 2rem 0;
      }

      .notes {
        padding: 2rem;
        background: #416f1a;
        color: #fff;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}
