//The following sets variable font sizes for home page section.
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 600px;
$max_width: 900px;
$min_font: 13px;
$max_font: 20px;

p,
ul,
ul li,
ol,
ol li,
a,
div,
label,
input[type="submit"] {
  font-family: $font-family-sans-serif;
  font-size: 21px;
  font-weight: 500;
}

p,
ul li,
ol li {
  font-size: 19px;
  color: #8b8b8b;
  line-height: 28px;
}

img {
  margin: 45px 0;
  max-width: 100%;
  height: auto;

  &.alignright {
    margin-right: 0;
  }
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a {
  font-family: $font-family-serif;
  font-weight: 400;
}

h2 {
  font-size: 47px;
  color: $bright-green;

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }
}

h3 {
  color: $light-orange;
  font-family: $font-family-sans-serif;
  font-size: 23px;
  line-height: 30px;
}

h5 {
  font-family: $font-family-sans-serif;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: $forest-green;
}

section {
  margin-top: 90px;
  margin-bottom: 90px;

  @include media-breakpoint-down(sm) {
    .lists & {
      margin-top: 2rem;
      overflow-x: scroll;
    }
  }
}

section.locations {
  margin-bottom: 2rem;
  padding-bottom: 0;
}

.carousel {
  @include fullwidth();

  background-color: $light_grey;
  display: flex;
  justify-content: center;
  padding: 120px 0;
  text-align: center;

  h5 {
    text-align: center;
    width: 100%;
  }

  .carousel-inner {
    min-height: 150px;
    display: inline-flex;
    align-items: center;

    h2 {
      line-height: 38px;
    }

    p {
      font-family: $font-family-serif;
      font-size: 32px;
      line-height: 36px;
      text-transform: uppercase;
      color: $dark-orange;
    }
  }

  .carousel-indicators {
    bottom: 90px;

    li {
      border: solid 2px $dark-green;
      border-radius: 5px;
      width: 5px;
      height: 5px;
      background: none;

      &.active {
        background: $dark-green;
      }
    }
  }
}

//Bootstrap Tooltip
.tooltip {
  .tooltip-inner {
    background: $bright-green;
    color: $white;
    font-size: 16px;
  }

  .arrow {
    background: $bright-green;
    border-top: $bright-green !important;
    border-color: $bright-green !important;
    border-bottom-color: $bright-green !important;
    border-left-color: $bright-green !important;
    border-right-color: $bright-green !important;
    border-top-color: $bright-green !important;
  }
}

//Webfont Loading
body {
  opacity: 1;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.wf-loading body {
  opacity: 0;
}

.fullwidth {
  @include fullwidth;
}

//sitewide banner
.woocommerce-store-notice {
  position: fixed !important;
  bottom: 0 !important;
  top: unset !important;
}

//Woocommerce Quick View
//Quick View styles
.quickview-open {
  overscroll-behavior: none;
  overflow: hidden;
}

.pp_overlay {
  background: rgba(255, 255, 255, 0.6) !important;
}

div.pp_woocommerce_quick_view,
.modalDialog > div {
  top: 0 !important;
  left: unset !important;
  right: 0 !important;
  width: 64vw !important;
  height: 100vh !important;
  max-width: 900px !important;
  display: flex !important;
  position: fixed !important;
  border-radius: 0;
  overscroll-behavior: none;
  background: no-repeat bottom center #fff;

  div.quick-view {
    padding-bottom: 2rem;
  }

  .ppt {
    display: none !important;
  }

  @media (max-width: 1199px) {
    width: 90vw !important;
    max-width: 90vw !important;
  }

  @media (max-width: 575px) {
    width: 100% !important;
    left: unset !important;
    right: 0 !important;
    max-width: 100% !important;
  }

  .woocommerce-product-gallery,
  .flex-viewport {
    width: 100%;
    // height: auto !important;
  }

  .woocommerce div.product div.images {
    margin-bottom: 0;
  }

  .yith-wcqv-main {
    box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.22);
    padding-bottom: 4rem;
  }

  .pp_content_container {
    overflow-y: scroll;
    padding: 2rem;
    border-radius: 0;
    overscroll-behavior: none;
    background: none;

    @media (max-width: 767px) {
      padding: 0;

      .pp_left,
      .pp_right {
        padding: 0 !important;
      }
    }

    .woocommerce div.product .product_title {
      color: $dark-green;
    }

    .pp_content {
      width: auto !important;
      height: auto !important;
      overflow: hidden;
    }

    .product {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 575px) {
        padding: 3rem 0;
        flex-direction: column;
      }

      .component_content .product {
        display: flex;
        flex-direction: column;
      }

      .summary {
        width: 80%;
        margin: 2rem auto;
      }

      .description {
        background: #7db84b;
        padding: 2rem;
        margin: 2rem 0 0 0;
        color: #fff;

        p {
          color: #fff;
        }

        .notice {
          border-top: solid 2px #fff;
          padding-top: 2rem;
          margin-top: 2rem;
        }
      }
    }

    .woocommerce-product-gallery {
      width: 100%;
      grid-column: 1 / span 2;

      @media (max-width: 767px) {
        margin-bottom: 0 !important;
      }
    }
  }
}

.quick-view-detail-button {
  display: none !important;
}

.quickview-open .modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

div.pp_woocommerce .pp_close {
  @media (max-width: 575px) {
    right: 1rem;
    top: 1rem;
    width: 44px;
    height: 44px;
    line-height: 45px;
    text-shadow: none;
  }
}

/* stylelint-disable no-descending-specificity */

.close-product,
.close {
  position: fixed;
  display: none;
  z-index: 999999999999999999;
  top: 1.5rem;
  right: 0;
  width: 65.5vw;
  max-width: 925px;
  height: 58px;
  border-radius: 2rem;
  text-indent: -99999px;

  &::before {
    background: url(../images/arrow-quickview.svg) no-repeat center center;
    width: 50px;
    height: 50px;
    border: solid 10px #fff;
    position: absolute;
    left: 0;
    content: "";
    background-color: #fff;
    border-radius: 100%;

    @media (max-width: 767px) {
      // background-size: 14px 7px;
      background: url(../images/arrow-sm.svg) no-repeat center center;
      width: 42px;
      height: 42px;
      background-color: #fff;
    }

    @media (max-width: 575px) {
      // background-size: 14px 7px;
      border-radius: 0 100% 100% 0;
    }
  }

  @media (max-width: 1199px) {
    width: 92vw !important;
    max-width: 92vw !important;
  }

  @media (max-width: 575px) {
    width: auto !important;
    max-width: auto !important;
    top: 1rem;
    right: unset;
    left: 0;
  }
}

.quickview-open .close-product {
  display: block;
}

.woocommerce div.product div.images img {
  height: 30rem;
  object-fit: cover;
}

//Flexslider styles
ol.flex-control-nav,
ol.carousel-indicators {
  position: absolute;
  bottom: 2.7rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
  z-index: 13;

  li {
    list-style-type: none;
    background: #fff;
    border-radius: 8px;
    margin: 0.3rem;

    a {
      width: 14px;
      height: 14px;
      text-indent: -99999px;
      display: flex;
      position: relative;

      &.flex-active::after {
        content: "";
        background: $bright-green;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 8px;
        height: 8px;
        border-radius: 5px;
      }
    }
  }
}

ol.flex-control-nav {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

ol.carousel-indicators {
  bottom: 1rem;
  z-index: 6;

  li {
    height: 14px;
    width: 14px;
    border: none;
    opacity: 1;
    position: relative;

    &.active::after {
      content: "";
      width: 8px;
      height: 8px;
      background: $bright-green;
      position: absolute;
      z-index: 11;
      top: 3px;
      left: 3px;
      border-radius: 100%;
    }
  }
}

ul.flex-direction-nav {
  position: absolute;
  margin: 0 4%;
  padding: 0;
  list-style-type: none;
  top: 28%;
  left: 0;
  width: 92%;
  display: flex;
  justify-content: space-between;
  z-index: 13;

  @include media-breakpoint-down(sm) {
    top: 0;
    height: 100%;
  }

  li a {
    position: relative;
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    height: 200px;
    width: 27px;
    text-indent: -999999px;

    @include media-breakpoint-down(sm) {
      height: 100%;
    }
  }

  li a::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-135deg);
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
  }

  // li a::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 46%;
  //   left: 0;
  //   height: 3px;
  //   width: 40%;
  //   background: #fff;
  //   transform: skew(0deg, 45deg);
  // }

  li.flex-nav-next a::before {
    right: 0;
    left: unset;
    transform: rotate(45deg);
  }

  li.flex-nav-next a::after {
    right: 0;
    left: unset;
    transform: skew(0deg, -45deg);
  }
}
/* stylelint-enable no-descending-specificity */
