/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$modal-fade-transform: scale(0.9);

$theme-colors: (
  primary: #74af43
);

$forest-green: ( #416f1a );
$dark-green: ( #74af43 );
$bright-green: ( #7db84b );
$light-green: ( #d8ffb7 );
$dark-orange: (#e26025);
$light-orange: (#e47644);
$grey: (#dadada);
$light_grey: (#f8f8f8);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path:   "#{$slick-loader-path}/fonts/";

@font-face {
  font-family: "Venti";
  src:
    url("../fonts/VentiCF-Light.woff2") format("woff2"),
    url("../fonts/VentiCF-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Venti";
  src:
    url("../fonts/VentiCF-Medium.woff2") format("woff2"),
    url("../fonts/VentiCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Venti";
  src:
    url("../fonts/VentiCF-DemiBold.woff2") format("woff2"),
    url("../fonts/VentiCF-DemiBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Venti";
  src:
    url("../fonts/VentiCF-Bold.woff2") format("woff2"),
    url("../fonts/VentiCF-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Venti";
  src:
    url("../fonts/VentiCF-Black.woff2") format("woff2"),
    url("../fonts/VentiCF-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

$font-family-sans-serif: Venti, Arial, sans-serif;
$font-family-serif: shackleton-narrow, serif;
$font-family-body: "Forum", serif;

@mixin slowfade($time: 0.4) {
  -webkit-transition: all #{$time}s;
  -moz-transition: all #{$time}s;
  transition: all #{$time}s;
}

@mixin fullwidth() {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
}

// Custom dotted border - allows control over dot size and spacing
// Usage: @include dotted-border(bottom, 4px, 10px, #000);
// Positions: top, bottom, left, right, all
@mixin dotted-border($position: bottom, $dot-size: 4px, $dot-gap: 10px, $dot-color: currentColor) {
  $pattern-size: $dot-size + $dot-gap;
  $dot-radius: $dot-size / 2;

  @if $position == all {
    background-image:
      radial-gradient(circle #{$dot-radius} at center, #{$dot-color} 100%, transparent 0),
      radial-gradient(circle #{$dot-radius} at center, #{$dot-color} 100%, transparent 0),
      radial-gradient(circle #{$dot-radius} at center, #{$dot-color} 100%, transparent 0),
      radial-gradient(circle #{$dot-radius} at center, #{$dot-color} 100%, transparent 0);
    background-size:
      $pattern-size $dot-size,
      $pattern-size $dot-size,
      $dot-size $pattern-size,
      $dot-size $pattern-size;
    background-position: top, bottom, left, right;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    padding: $dot-size;
  }

  @else if $position == top or $position == bottom {
    background-image: radial-gradient(circle #{$dot-radius} at center, #{$dot-color} 100%, transparent 0);
    background-size: $pattern-size $dot-size;
    background-position: $position;
    background-repeat: repeat-x;

    @if $position == top {
      padding-top: $dot-size;
    }

    @else {
      padding-bottom: $dot-size;
    }
  }

  @else if $position == left or $position == right {
    background-image: radial-gradient(circle #{$dot-radius} at center, #{$dot-color} 100%, transparent 0);
    background-size: $dot-size $pattern-size;
    background-position: $position;
    background-repeat: repeat-y;

    @if $position == left {
      padding-left: $dot-size;
    }

    @else {
      padding-right: $dot-size;
    }
  }
}

/** Hamburger icon */
$hamburger-layer-color: #fff;
