@import url("//hello.myfonts.net/count/295de5");

  
@font-face {font-family: 'Sini-Bold';src: url('webfonts/295DE5_0_0.eot');src: url('webfonts/295DE5_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/295DE5_0_0.woff') format('woff'),url('webfonts/295DE5_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Bold-Italic';src: url('webfonts/295DE7_0_0.eot');src: url('webfonts/295DE7_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/295DE7_0_0.woff') format('woff'),url('webfonts/295DE7_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Bold';src: url('webfonts/295DE7_1_0.eot');src: url('webfonts/295DE7_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/295DE7_1_0.woff') format('woff'),url('webfonts/295DE7_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Light-Italic';src: url('webfonts/295DE7_2_0.eot');src: url('webfonts/295DE7_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/295DE7_2_0.woff') format('woff'),url('webfonts/295DE7_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Regular-Italic';src: url('webfonts/295DE7_3_0.eot');src: url('webfonts/295DE7_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/295DE7_3_0.woff') format('woff'),url('webfonts/295DE7_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-Light';src: url('webfonts/295DE7_4_0.eot');src: url('webfonts/295DE7_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/295DE7_4_0.woff') format('woff'),url('webfonts/295DE7_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'NexaHeavy';src: url('webfonts/295DE7_5_0.eot');src: url('webfonts/295DE7_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/295DE7_5_0.woff') format('woff'),url('webfonts/295DE7_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'NexaRegular';src: url('webfonts/295DE7_6_0.eot');src: url('webfonts/295DE7_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/295DE7_6_0.woff') format('woff'),url('webfonts/295DE7_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Nexa-XBold';src: url('webfonts/295DE7_7_0.eot');src: url('webfonts/295DE7_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/295DE7_7_0.woff') format('woff'),url('webfonts/295DE7_7_0.ttf') format('truetype');}
 
 
@font-face {
    font-family: 'nexa_slablight_italic';
    src: url('webfonts/fontfabric_-_nexaslablightitalic.eot');
    src: url('webfonts/fontfabric_-_nexaslablightitalic.eot?#iefix') format('embedded-opentype'),
         url('webfonts/fontfabric_-_nexaslablightitalic.woff2') format('woff2'),
         url('webfonts/fontfabric_-_nexaslablightitalic.woff') format('woff'),
         url('webfonts/fontfabric_-_nexaslablightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_slabthin_italic';
    src: url('webfonts/fontfabric_-_nexaslabthinitalic.eot');
    src: url('webfonts/fontfabric_-_nexaslabthinitalic.eot?#iefix') format('embedded-opentype'),
         url('webfonts/fontfabric_-_nexaslabthinitalic.woff2') format('woff2'),
         url('webfonts/fontfabric_-_nexaslabthinitalic.woff') format('woff'),
         url('webfonts/fontfabric_-_nexaslabthinitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_slabthin';
    src: url('webfonts/fontfabric_-_nexaslabthin.eot');
    src: url('webfonts/fontfabric_-_nexaslabthin.eot?#iefix') format('embedded-opentype'),
         url('webfonts/fontfabric_-_nexaslabthin.woff2') format('woff2'),
         url('webfonts/fontfabric_-_nexaslabthin.woff') format('woff'),
         url('webfonts/fontfabric_-_nexaslabthin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_slablight';
    src: url('webfonts/fontfabric_-_nexaslablight.eot');
    src: url('webfonts/fontfabric_-_nexaslablight.eot?#iefix') format('embedded-opentype'),
         url('webfonts/fontfabric_-_nexaslablight.woff2') format('woff2'),
         url('webfonts/fontfabric_-_nexaslablight.woff') format('woff'),
         url('webfonts/fontfabric_-_nexaslablight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_slab_xbold';
    src: url('webfonts/fontfabric_-_nexa_slab_xbold.eot');
    src: url('webfonts/fontfabric_-_nexa_slab_xbold.eot?#iefix') format('embedded-opentype'),
         url('webfonts/fontfabric_-_nexa_slab_xbold.woff2') format('woff2'),
         url('webfonts/fontfabric_-_nexa_slab_xbold.woff') format('woff'),
         url('webfonts/fontfabric_-_nexa_slab_xbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_slabregular_italic';
    src: url('webfonts/fontfabric_-_nexaslabregularitalic.eot');
    src: url('webfonts/fontfabric_-_nexaslabregularitalic.eot?#iefix') format('embedded-opentype'),
         url('webfonts/fontfabric_-_nexaslabregularitalic.woff2') format('woff2'),
         url('webfonts/fontfabric_-_nexaslabregularitalic.woff') format('woff'),
         url('webfonts/fontfabric_-_nexaslabregularitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_slab_book';
    src: url('webfonts/fontfabric_-_nexa_slab_book.eot');
    src: url('webfonts/fontfabric_-_nexa_slab_book.eot?#iefix') format('embedded-opentype'),
         url('webfonts/fontfabric_-_nexa_slab_book.woff2') format('woff2'),
         url('webfonts/fontfabric_-_nexa_slab_book.woff') format('woff'),
         url('webfonts/fontfabric_-_nexa_slab_book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_slab_bold';
    src: url('webfonts/fontfabric_-_nexa_slab_bold.eot');
    src: url('webfonts/fontfabric_-_nexa_slab_bold.eot?#iefix') format('embedded-opentype'),
         url('webfonts/fontfabric_-_nexa_slab_bold.woff2') format('woff2'),
         url('webfonts/fontfabric_-_nexa_slab_bold.woff') format('woff'),
         url('webfonts/fontfabric_-_nexa_slab_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa_slab_regular';
    src: url('webfonts/fontfabric_-_nexa_slab_regular.eot');
    src: url('webfonts/fontfabric_-_nexa_slab_regular.eot?#iefix') format('embedded-opentype'),
         url('webfonts/fontfabric_-_nexa_slab_regular.woff2') format('woff2'),
         url('webfonts/fontfabric_-_nexa_slab_regular.woff') format('woff'),
         url('webfonts/fontfabric_-_nexa_slab_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
    
